.desktop_none{
    display: none !important;
}
.mobile_none{
    display: block !important;
}
/* Dashboard Start */
.dash_s1{
    padding: 0px;
    margin-top: 98px;
    background-color: #FAFAFA;
}
.dash_c1{
    display: flex;
    flex-direction: row;
    gap: 0px;
}
.dash_s1left{
    width: 42%;
    padding: 120px 80px 120px 80px;
    display: flex;
    justify-content: flex-end;
    background-image: url(../img/dash_leftbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.dash_leftmain{
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 380px;
}
.dash_s1titlebar{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.dash_s1title{
    color: var(--Grayscale-900, #0E0E0E);
    font-family: "Google Sans Flex";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin: 0px;
}
.dash_s1subtitle{
    color: var(--Grayscale-600, #9B9B9B);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    margin: 0px;
}
.dash_s1logout{
    color: var(--Functional-Info-Blue, #005BB9);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 145%;
    margin: 0px;
    text-decoration: none;
}
.dash_s1right{
    width: 58%;
    background-image: url(../img/dash_rightbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Desktop tabs */
.desk_tabbtnmain{
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 312px;
}
.desk_tabbtn{
    display: flex;
    height: 47px;
    padding: 10px 40px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 100px;
    border: 1px solid var(--Button-Gradient, #066970);
    background: var(--Grayscale-White, #FFF);
    color: var(--Grayscale-900, #0E0E0E);
    font-family: "Google Sans Flex";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
.normal_icon{
    display: block;
}
.active_icon{
    display: none;
}
.desk_tabbtn.active .normal_icon{
    display: none;
}
.desk_tabbtn.active .active_icon{
    display: block;
}
.desk_tabbtn:hover .normal_icon{
    display: none;
}
.desk_tabbtn:hover .active_icon{
    display: block;
}
.desk_tabbtn:hover, .desk_tabbtn.active{
    display: flex;
    height: 47px;
    padding: 10px 40px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 100px;
    border: 1px solid var(--Button-Gradient, #066970);
    background: var(--Primary, #05676A);
    color: var(--Grayscale-White, #FFF);
    font-family: "Google Sans Flex";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
.tab-toggle-btn{
    width:100%;
    height:60px;
    border:1px solid #00706b;
    border-radius:40px;
    background:#fff;
    padding:0 20px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.mobile-tab-menu{
    position:absolute;
    top:75px;
    width:100%;
    background:#fff;
    border-radius:25px;
    overflow:hidden;
    display:none;
    z-index:1001;
}
.mobile-tab-menu.show{
    display:block;
}
.mobile-tab-item{
    width:100%;
    border:none;
    background:none;
    padding:18px 25px;
    text-align:left;
    display:flex;
    gap:15px;
    align-items:center;
}
.menu-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.5);
    z-index:1000;
    opacity:0;
    visibility:hidden;
    transition:.3s;
}
.menu-overlay.show{
    opacity:1;
    visibility:visible;
}
.tab_contentmain{
    display: flex;
    align-items: center;
    height: -webkit-fill-available;
}
.ac_tab{
    padding: 64px 40px 64px 80px;
    display: flex;
    justify-content: flex-start;
}
.ac_tabinner{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 754px;
}
.bc_tabinner{
    align-items: center;
}
.dash_s1right .tab-content .tab-pane{
    width: 100%;
}
.tab_conbtnbar{
    border-radius: 100px;
    border: 1px solid #066970;
    display: inline-flex;
    padding: 6px;
    height: 57px;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
}
.tab_conbtnbar:hover{
    border: 2px solid #066970;
    padding: 5px;
}
.tab_conbtn{
    display: flex;
    width: 100%;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 70px;
    background: var(--Button-Gradient, linear-gradient(91deg, #066970 -6.44%, #045C43 106.46%));
    color: var(--Grayscale-White, #FFF);
    font-family: "Google Sans Flex";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
.ac_tabinnertop{
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 100%;
}
.tabfirst_last{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 50%;
}
.tab_textbox{
    display: flex;
    height: 56px;
    max-height: 56px;
    padding: 20px 24px;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--base-04, #E9E9E9);
    background: var(--Grayscale-White, #FFF);
    color: var(--Grayscale-700, #656565);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
}
.password-wrapper {
    position: relative;
    width: 100%;
}
.password-wrapper input {
    width: 100%;
    padding-right: 45px;
}

.toggle-eye {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 22px;
    height: 22px;
}
.tabdrop-arrow{
    transition: transform .3s ease;
}

.tabdrop-arrow.rotate{
    transform: rotate(180deg);
}
/* Dashboard End */




/* *************** */
/* Responsive Css */
/* ************* */

@media screen and (max-width: 700px) {
    .desktop_none{
        display: block !important;
    }
    .mobile_none{
        display: none !important;
    }
    /* Dashboard Start */
    .dash_s1{
        margin-top: 82px;
    }
    .dash_c1{
        flex-direction: column;
    }
    .dash_s1left{
        width: 100%;
        padding: 32px 24px;
        gap: 16px;
        background: none;
    }
    .dash_s1right{
        width: 100%;
        padding: 0px;
        background: none;
    }
    .tab-toggle-btn{
        z-index: 100000;
        position: relative;
    }
    .ac_tab{
        padding: 0px 24px 24px 24px;
    }
    .ac_tabinnertop{
        gap: 16px;
        flex-direction: column;
    }
    .tabfirst_last{
        gap: 16px;
        width: 100%;
    }
    .dash_s1title{
        text-align: center;
        max-width: 260px;
    }
    .dash_s1titlebar{
        align-items: center;
        text-align: center;
    }
    .dash_leftmain{
        text-align: center;
    }
    .bc_tabinner{
        align-items: normal;
    }
    /* Dashboard End */
}

@media screen and (min-device-width: 700px) and (max-device-width: 799px) {}

@media screen and (min-device-width: 800px) and (max-device-width: 899px) {}

@media screen and (min-device-width: 900px) and (max-device-width: 999px) {}

@media screen and (min-device-width: 1000px) and (max-device-width: 1099px) {}

@media screen and (min-device-width: 1100px) and (max-device-width: 1199px) {
    .dash_s1left{
        background-position: 30%;
    }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1299px) {
    .dash_s1left{
        background-position: 40%;
    }
}

@media screen and (min-device-width: 1300px) and (max-device-width: 1399px) {
    .dash_s1left{
        background-position: 40%;
    }
}

@media screen and (min-device-width: 1400px) and (max-device-width: 1499px) {
    .dash_s1left{
        background-position: 40%;
    }
}

@media screen and (min-device-width: 1500px) and (max-device-width: 1599px) {
    .dash_s1left{
        background-position: 40%;
    }
}

@media screen and (min-device-width: 1600px) and (max-device-width: 1699px) {}

@media screen and (min-device-width: 1700px) and (max-device-width: 1799px) {}

@media screen and (min-device-width: 1800px) and (max-device-width: 1899px) {}

@media screen and (min-device-width: 1900px) and (max-device-width: 1999px) {}

@media screen and (min-device-width: 2000px) and (max-device-width: 2400px) {}